<div class="container-fluid" style="height: 95vh;">
  <div style="background-color: #563D7C" class="row pt-2 shadow p-3 mb-5 d-flex align-items-center">

    <div class="col d-flex align-items-center flex-direction-row">
      <a href="/home"><img src="ipaddresslookup.png" class="logo-header text-start"
          style="width: 200px; margin-bottom: 0px;"></a>
    </div>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center pt-5">
    <div class="login-container p-5 d-flex flex-column text-center shadow"
      style="height: fit-content; width: 20vw; min-width: fit-content;">
      <h4>Log In</h4>

      <form (ngSubmit)="login()">
        <div class="d-flex flex-column" style="margin-bottom: 50px;">
          <!-- USERNAME -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"
                style="border-top-right-radius: 0%; border-bottom-right-radius: 0%;"><i
                  class="bi bi-person-fill"></i></span>
            </div>
            <input [(ngModel)]="username" name="username" type="text" class="form-control" placeholder="Username"
              aria-label="Username" aria-describedby="basic-addon1" required>
          </div>

          <!-- PASSWORD 1st -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"
                style="border-top-right-radius: 0%; border-bottom-right-radius: 0%;"><i class="bi bi-lock"></i></span>
            </div>
            <input [(ngModel)]="password" id="password" name="username" type="password" class="form-control"
              placeholder="Password" aria-label="Username" aria-describedby="basic-addon1" required>
          </div>

          <!-- PASSWORD 2nd -->
          <div class="d-flex align-items-center ">
            <input type="checkbox" (click)="showPassword()"><span style="padding-left: 5px; font-size: small;">Show Password</span>
          </div>

        </div><br>
        <button class="btn btn-primary" type="submit" style="width: 90%;">SUBMIT</button>
        <div class="mt-3">
          <p>Don't have an account? <a (click)="routerService.goToRegister()"
              style="cursor: pointer; color: rgb(85, 85, 255);">Register</a></p>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>