<div class="container-fluid" style="height: 100vh;">
    <div style="background-color: #563D7C" class="row pt-2 shadow p-3 mb-5 d-flex align-items-center">

        <div class="col d-flex align-items-center flex-direction-row">
            <a href="/home"><img src="ipaddresslookup.png" class="logo-header text-start" style="width: 200px; margin-bottom: 0px;"></a>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column align-items-center">
        <h3 class="text-center" style="color: rgb(130, 35, 150)"><strong>Subscription Plans</strong></h3>

        <div class="plans-container row d-flex flex-row mx-2 shadow" style="height: fit-content; width: 70vw;">
            <!-- Free Plan -->
            <div class="col m-4 shadow d-flex flex-column align-items-center p-4" style=" border-radius:10px; border: 1px solid rgba(192, 192, 192, 0.3); height: 40vh; min-height: fit-content;">
                <h4 style="color: rgb(100, 100, 100);"><strong>Free</strong></h4>
                <p><strong>API Calls:</strong> 1,000 per month</p>
                <p>Features:</p>
                <ul style="list-style-type: none">
                    <li><div class="d-flex align-items-center"><i class="bi bi-check fs-1" style="color: rgb(180, 30, 200);"></i>Core IP lookup services</div></li>
                    <li><div class="d-flex align-items-center"><i class="bi bi-check fs-1" style="color: rgb(180, 30, 200);"></i>Basic geolocation data</div></li>
                    <li><div class="d-flex align-items-center"><i class="bi bi-check fs-1" style="color: rgb(180, 30, 200);"></i>User-friendly interface</div></li>
                </ul>
                <p><strong>Support:</strong> Email support</p>
                <p><strong>Ideal For:</strong> Individuals & small businesses</p>
                <button type="button" class="btn btn-success mt-4"><i class="bi bi-cart2 m-1"></i>Buy Now!</button>
            </div>
            <!-- Standard Plan -->
            <div class="col m-4 shadow d-flex flex-column align-items-center p-4" style="position: relative; border-radius:10px; border: 2px solid rgb(200, 0, 255); height: 40vh; min-height: fit-content;">
                <div style="background-color:  rgb(200, 0, 255); color: white; position: absolute; top: 0px; left: 0px;  border-top-left-radius: 8px; border-bottom-right-radius: 8px; padding: 6px;">Best Seller!</div>
                <h4 style="color: gold;"><strong>Standard</strong></h4>
                <p><strong>API Calls:</strong> 5,000 per month</p>
                <p>Features:</p>
                <ul style="list-style-type: none">
                    <li><div class="d-flex align-items-center"><i class="bi bi-check fs-1" style="color: rgb(180, 30, 200);"></i>All Basic Plan features</div></li>
                    <li><div class="d-flex align-items-center"><i class="bi bi-check fs-1" style="color: rgb(180, 30, 200);"></i>Advanced geolocation</div></li>
                    <li><div class="d-flex align-items-center"><i class="bi bi-check fs-1" style="color: rgb(180, 30, 200);"></i>Threat detection</div></li>
                    <li><div class="d-flex align-items-center"><i class="bi bi-check fs-1" style="color: rgb(180, 30, 200);"></i>Access to historical data</div></li>
                </ul>
                <p><strong>Support:</strong> Priority email support</p>
                <p><strong>Ideal For:</strong> Medium-sized enterprises & developers</p>
                <button type="button" class="btn btn-success mt-4"><i class="bi bi-cart2 m-1"></i>Buy Now!</button>
            </div>
            <!-- Professional Plan -->
            <div class="col m-4 shadow d-flex flex-column align-items-center p-4" style=" border-radius:10px; border: 1px solid rgba(192, 192, 192, 0.3); height: 40vh; min-height: fit-content;">
                <h4 style="color: lightblue;"><strong>Professional</strong></h4>
                <p><strong>API Calls:</strong> 20,000 per month</p>
                <p>Features:</p>
                <ul style="list-style-type: none">
                    <li><div class="d-flex align-items-center"><i class="bi bi-check fs-1" style="color: rgb(180, 30, 200);"></i>All Pro Plan features</div></li>
                    <li><div class="d-flex align-items-center"><i class="bi bi-check fs-1" style="color: rgb(180, 30, 200);"></i>Custom API endpoints</div></li>
                    <li><div class="d-flex align-items-center"><i class="bi bi-check fs-1" style="color: rgb(180, 30, 200);"></i>Real-time data processing</div></li>
                    <li><div class="d-flex align-items-center"><i class="bi bi-check fs-1" style="color: rgb(180, 30, 200);"></i>Detailed analytics</div></li>
                </ul>
                <p><strong>Support:</strong> 24/7 premium support</p>
                <p><strong>Ideal For:</strong> Large businesses & enterprises</p>
                <a href="/register"><button type="button" class="btn btn-success mt-4"><i class="bi bi-cart2 m-1"></i>Buy Now!</button></a>
                
            </div>
        </div>
    </div>
</div>